################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Alura.LeilaoOnline/FileContentIndex/0d9f87b7-31fa-4412-ad8c-4e644a1a77c4.vsidx
/.vs/Alura.LeilaoOnline/FileContentIndex/d9dbc369-5bc4-446c-a251-af015eeef48f.vsidx
/.vs/Alura.LeilaoOnline/FileContentIndex/read.lock
